{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img alt="card-img-top" class="card-img-top" src="https://picsum.photos/200/300?image=0"/>
        <a href="">
          <h6>Lambda</h6>
        </a>
        <p>Nombre de vidéo(s) :
          <strong>{{ initiation|length }}</strong>
        </p>
      </div>
      <div class="card" style="width: 18rem;">
        <img alt="card-img-top" class="card-img-top" src="https://picsum.photos/200/300?image=1"/>
        <h6>Compréhension de liste</h6>
        <p>Nombre de vidéo(s) :
          <strong>{{ structure|length }}</strong>
        </p>
      </div>
      <div class="card" style="width: 18rem;">
        <img alt="card-img-top" class="card-img-top" src="https://picsum.photos/200/300?image=2"/>
        <h6>Decorateur</h6>
        <p>Nombre de vidéo(s) :
          <strong>{{ classe|length }}</strong>
        </p>
      </div>
    </div>
  </div>
{% endblock %}